.heart {
  transform-box: fill-box;
  transform-origin: center;
}

/* Heart container (centers icon and text) */
.heart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem; /* Space between heart icon and text */
}

/* The SVG heart icon */
.heart-icon {
  width: 80px; /* Adjust as needed */
  height: 80px;
  fill: red; /* White color for the heart (since background is red) */
  cursor: pointer;
  /* animation: beat 0.7s infinite; */
}

@keyframes beat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Adjust scale factor for a subtle beat */
  }
}
